# Ignore node_modules directory
node_modules/

# Ignore data directory
data/

# Ignore public/assets/user directory, except for default.png
public/assets/user/
!public/assets/user/default.png
# Ignore public/assets/bots directory
public/assets/bots/