# Ignore node_modules directory
node_modules/

# Ignore data directory
data/

# Ignore public/assets/user directory, except for default.png
public/assets/users/
!public/assets/users/default.png
# Ignore public/assets/bots directory
public/assets/bots/
auto
.lc_config
.claude
public/assets/js/config.json
duplicate
package-lock.json
config.json